@import "tailwindcss";

@font-face {
  font-family: agrandir-reg;
  src: url(../Agrandir-Regular.otf);
}

@font-face {
  font-family: agrandir-gheavy;
  src: url(../Agrandir-GrandHeavy.otf);
}

@font-face {
  font-family: agrandir-wide;
  src: url(../Agrandir-WideLight.otf);
}

@font-face {
  font-family: agrandir-glight;
  src: url(../Agrandir-GrandLight.otf);
}

body {
  font-family: "agrandir-reg";
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
